"*":
  "activate-power-mode":
    autoToggle: false
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "autocomplete-plus": {}
  "base16-syntax":
    scheme: "Apathy"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "symbols-view"
    ]
    themes: [
      "flexible-ui"
      "base16-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
  "exception-reporting":
    userId: "c74b541a-7600-cb23-fb80-48e2624d5f23"
  linter:
    errorPanelHeight: 135
    lintOnFlyInterval: 1000
  "linter-eslint": {}
  "linter-jscs":
    displayAs: "warning"
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "one-dark-ui": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tidy-tabs":
    minimumTabs: 8
    runOnSave: true
  welcome:
    showOnStartup: false
".feature.source":
  editor:
    preferredLineLength: 120
".source.ts":
  editor:
    preferredLineLength: 120
".source.tsx":
  editor:
    preferredLineLength: 120
